html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
  background: #282537;
  background-image: radial-gradient(circle at top, #3c3b52 0%, #252233 80%);
}

.halloweenContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.halloweenBat {
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
}
